* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #33363b;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Tahoma, sans-serif;

    background: linear-gradient(135deg, #1f1f2e, #2b2d42, #1a1a1a);
    background-attachment: fixed;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:16px;
    background: linear-gradient(135deg, #4dabf7, #339af0);
}

.header, .footer {
    display: flex;
    background-color: #2f353a;
    flex-shrink:0;
    height: 75px;
    align-items: center;
    padding-left: 0px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    margin: 10px;
}




.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow:1;
}

.panel-izquierdo {
    display: flex;
    flex-direction: column;
    width: 40%;   
    height: 100%;              
         
}

.panel-derecho {
    width: 60%;  
    height:100%; 
       
}

.title{
    margin: 10px;
    font-size: xx-large;
}

.path-text, .clips-found{
    padding: 5px 20px
}

.render-button{
    background: linear-gradient(135deg, #38d39f, #2ecc71);
}